{% extends "base.html" %}
{% block content %}
<div class="wrap">
<a href="#" name="history" class="non-link"><h1>История колледжа</h1></a>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<p>Select an item in the Menu and complete, at least, all fields marked by a red star on the corresponding page. Once you have completed a page, you may save and continue with another page. Do not leave the page before saving its contents, or you will have to resubmit the data just entered.
			<br>
			You are invited to upload documents in .pdf format (except for photos). It is possible to also upload documents in .jpg, .jpeg, .png and .gif format for pictures. Each document should not be over 5 Mb in size. You may delete attachments if needed, e.g. to update them.
			<br>
			The reference letters will be directly submitted (only by e-mail) by the referees you will have chosen. In case of acceptance, you must submit a hard-copy of the documents uploaded to the system by s-mail (i.e., paper mail, postal mail, land mail, ...) to the admission contact address by the date specified in the BDMA website (check the application manual for further details). Hard-copies are necessary for formal acceptance and failing to submit them on time implies immediate exclusion. We strongly advise to gather all necessary hard-copied documents during the application period to avoid further problems in this sense.
			<br>
			Last, but not least, let us kindly remind you that early submissions will be first checked and in case of needed amendments (e.g., missing mandatory files to upload or incorrect Excel file) you would be notified in time as to amend your submission before the deadline. Thus, we strongly advise you to submit your application well in advance, if possible.
			<br>
			Please use the application manual and FAQ to guide you throughout the application process, or our contact email address if your question is not listed in the FAQ.</p>
		</div>
	</div>
</div>

<hr>
<a href="#" name="photogallery" class="non-link"><h1>Фотогалерея</h1></a>
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
	</div>
</div>
<hr>
<a href="#" name="cultural_life" class="non-link"><h1>Культурная жизнь</h1></a>
<div class="container">
<div class="row">
<div class="col-lg-12">
<p>SOME NEWS, ACTIONS, VIDEOS, SOME NEWS, ACTIONS, VIDEOS</p>
</div>
</div>
</div>
<hr>
<a href="#" name="contacts" class="non-link"><h1>Контакты</h1></a>
<div class="container">
	<div class="row">
		<div class="col-lg-8 ">
			<p>MAP IS HERE</p>
		</div>
		<div class="col-lg-4">
			<ul>
				<li><p><strong>Адрес:</strong> г. Куляб улица Ленина 5</p></li>
				<li><p><strong>Телефон 1:</strong> 999 000 000 111</p></li>
				<li><p><strong>Телефон 2:</strong> 999 000 000 222</p></li>
				<li><p><strong>Телефон 3:</strong> 999 000 000 333</p></li>
				<li><p><strong>Email:</strong> info@kth.tj</p></li>
			</ul>

		</div>
	</div>
</div>
<br>
</div>
{% endblock content %}