{% extends "base.html" %}
{% block content %}
<br>
<a href="#" name="history" class="non-link text-center"><h1>История колледжа</h1></a>
<br>
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<img src="/static/Images/med.jpg">
		</div>
		<div class="col-lg-6">
			<p>Select an item in the Menu and complete, at least, all fields marked by a red star on the corresponding page. Once you have completed a page, you may save and continue with another page. Do not leave the page before saving its contents, or you will have to resubmit the data just entered.</p>
			<br>
			<p>
			You are invited to upload documents in .pdf format (except for photos). It is possible to also upload documents in .jpg, .jpeg, .png and .gif format for pictures. Each document should not be over 5 Mb in size. You may delete attachments if needed, e.g. to update them.</p>
			<br>
			<p>You are invited to upload documents in .pdf format (except for photos). It is possible to also upload documents in .jpg, .jpeg, .png and .gif format for pictures. Each document should not be over 5 Mb in size. You may delete attachments if needed, e.g. to update them.
			</p>
		</div>
	</div>
</div>
<hr>
<a href="#" name="teachers" class="non-link text-center"><h1>Наши преподаватели</h1></a>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-xs-12 thumb">
            <img class="img-responsive center-block" src="http://placehold.it/250x250" alt="">
            <h3 class="text-center">Курбон Курбонов</h3>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-12 thumb">
            <img class="img-responsive center-block" src="http://placehold.it/250x250" alt="">
            <h3 class="text-center">Лоик Шерали</h3>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-12 thumb">
            <img class="img-responsive center-block" src="http://placehold.it/250x250" alt="">
            <h3 class="text-center">Мирзо Мирзоев</h3>
        </div>
	</div>
</div>
	<br>
	<br>
	<br>
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-xs-12 thumb">
            <img class="img-responsive center-block" src="http://placehold.it/250x250" alt="">
            <h3 class="text-center">Фариштамохи Бустон</h3>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-12 thumb">
            <img class="img-responsive center-block" src="http://placehold.it/250x250" alt="">
            <h3 class="text-center">Акаи Комил</h3>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-12 thumb">
            <img class="img-responsive center-block" src="http://placehold.it/250x250" alt="">
            <h3 class="text-center">Али Хамадони</h3>
        </div>
	</div>
</div>
	<br>
<hr>
<a href="#" name="contacts" class="non-link text-center"><h1>Контакты</h1></a>
<br>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-xs-12">
			<iframe width="700" height="450" frameborder="0" style="border:0; padding-bottom: 3px;"
			src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJnbrf5jI0yDgRcPRC68d4EtE&key=AIzaSyAgSLIIq78TkyVH6lLm6-zGzR7XyKHA_iI" allowfullscreen></iframe>
			<br>
		</div>
		<div class="col-lg-4 col-md-4 col-xs-12">
			<ul>
				<li><p><strong>Адрес:</strong> г. Куляб улица Ленина 5</p></li>
				<li><p><strong>Телефон 1:</strong> 999 000 000 111</p></li>
				<li><p><strong>Телефон 2:</strong> 999 000 000 222</p></li>
				<li><p><strong>Телефон 3:</strong> 999 000 000 333</p></li>
				<li><p><strong>Email:</strong> info@kth.tj</p></li>
			</ul>

		</div>
	</div>
</div>
<br>
{% endblock content %}