{% extends "base.html" %}
{% block content %}
<a href="#" name="contacts" class="non-link text-center"><h1>Контакты</h1></a>
<br>
<div class="container">
	<div class="row">
		<div class="col-lg-9 col-md-9 col-xs-12">
			<iframe width="100%" height="500" frameborder="0" style="border:0; padding-bottom: 3px;"
			src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJYfFN1gutyTgRj8axEQdfdjI&key=AIzaSyAgSLIIq78TkyVH6lLm6-zGzR7XyKHA_iI" allowfullscreen></iframe>
			<br>
		</div>
		<div class="col-lg-3 col-md-3 col-xs-12">
			<ul>
				<li><p><strong>Адрес:</strong> г. Куляб улица Ленина 5</p></li>
				<li><p><strong>Телефон 1:</strong> 999 000 000 111</p></li>
				<li><p><strong>Телефон 2:</strong> 999 000 000 222</p></li>
				<li><p><strong>Телефон 3:</strong> 999 000 000 333</p></li>
				<li><p><strong>Email:</strong> info@kth.tj</p></li>
			</ul>

		</div>
	</div>
</div>

<br>
{% endblock content %}
