{% extends "base.html" %}
{% block content %}
<br>
<a href="#" name="rules" class="non-link text-center"><h1>Правила приёма абитуриентов</h1></a>
<br><br>
<div class="wrap2">
<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<h3 class="text-center">Соберите документы. Список приведен <a href="{% url 'enrollee' %}#listofdocs">ниже</a>.</h3>
		</div>
		<div class="col-lg-4">
			<h3 class="text-center">Отправьте документы на рассмотрение в колледж, или <a href="{% url 'about_university' %}#contacts">свяжитесь</a> с деканом.</h3>
		</div>
		<div class="col-lg-4">
			<h3 class="text-center">Произведите <a href="{% url 'enrollee' %}#price">оплату</a> за обучение в кассе колледжа. Возможны льготы.</h3>
		</div>
	</div>
</div>
</div>
<br><br>
<hr>
<a href="#" name="listofdocs" class="non-link text-center"><h1>Список документов</h1></a>
<br>
<div class="container">
 <div class="col-lg-10">
	<ul style="font-size: 18px;">
		<li><p><strong>Копия паспорта</strong> - ксерокопия первой страницы и прописки</p></li>
		<li><p><strong>Справка с места жительства</strong> - справка из домоуправления</p></li>
		<li><p><strong>Аттестат</strong> - оригинал аттестата об обязательном образовании</p></li>
		<li><p><strong>Справка из поликлиники</strong> - справка №1 из поликлиники по месту жительства</p></li>
		<li><p><strong>Резюме</strong> - докумет, содержащий общую информацию, наряду с опытом работы и навыками</p></li>
		<li><p><strong>Мотивационное письмо</strong> - почему вы хотите поступить в наш колледж</p></li>
		<li><p><strong>Рекомендации</strong> - рекомендательные письма от преподавателей</p></li>
	</ul>
</div>
</div>
<hr>
<a href="#" name="price" class="non-link text-center"><h1>Цены</h1></a>
<br>
<div class="container my-table">
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
			        <th>Направление</th>
			        <th>Код</th>
			        <th>Дневное (в сомони)</th>
			        <th>Заочное (в сомони)</th>
			    </tr>
			</thead>
			<tbody>
			    <tr>
			        <td>Стоматология</td>
			        <td>11101</td>
			        <td>5000</td>
			        <td>4000</td>
			    </tr>
			    <tr>
			        <td>Хирургия</td>
			        <td>11102</td>
			        <td>6000</td>
			        <td>5200</td>
			    </tr>
			    <tr>
			        <td>АСУ</td>
			        <td>530102</td>
			        <td>3000</td>
			        <td>2500</td>
			    </tr>
			    <tr>
			        <td>Экономика</td>
			        <td>44001</td>
			        <td>2700</td>
			        <td>2000</td>
			    </tr>
			</tbody>
		</table>
	</div>
</div>



<br>
{% endblock content %}