{% extends "base.html" %}
{% block content %}

<br>
<a href="#" name="faculty1" class="non-link text-center"><h1>Факультет 1</h1></a>
<br><br>

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			 <img class="img-responsive" src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-lg-6">
			{% lorem 2 p %}
		</div>
	</div>
</div>

<br><br>

<hr>

<a href="#" name="faculty2" class="non-link text-center"><h1>Факультет 2</h1></a>
<br><br>

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			{% lorem 2 p %}
		</div>
		<div class="col-lg-6">
			<img class="img-responsive" src="http://placehold.it/500x300" alt="">
		</div>
	</div>
</div>

<br><br>
<hr>

<a href="#" name="faculty3" class="non-link text-center"><h1>Факультет 3</h1></a>
<br><br>

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<img class="img-responsive" src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-lg-6">
			{% lorem 2 p %}
		</div>
	</div>
</div>

<br><br>
<hr>

<a href="#" name="faculty4" class="non-link text-center"><h1>Факультет 4</h1></a>
<br><br>

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			{% lorem 2 p %}
		</div>
		<div class="col-lg-6">
			<img class="img-responsive" src="http://placehold.it/500x300" alt="">
		</div>
	</div>
</div>

<br><br>

<br>

{% endblock content %}