{% extends "base.html" %}
{% block content %}

<br>
<a href="#" name="faculty1" class="non-link text-center"><h1>АКУШЕРСКОЕ ДЕЛО</h1></a>
<br><br>

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			 <img class="img-responsive" src="/static/Images/momodo.jpg" alt="">
		</div>
		<div class="col-lg-6">
			 <img class="img-responsive" src="/static/Images/momodo2.jpg" alt="">
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-lg-12">
			<p style="font-size: 18px;">Выпускники этой специальности будут квалифицированными акушерами, готовыми
				оказывать лечебно-профилактические процедуры беременным и предоставлять помощь людям с гинекологическими
				заболеваниями, предоставлять неотложную медицинскую помощь при отсрых заболеваниях и несчастных случаях,
				осуществлять деятельность в городских и районных медицинских учреждениях, родильных домах,
				центрах поддержки семей, оздоровительных центрах.
			<br><br>
			<i>Срок обучения - <strong>4 года</strong>, с присвоением специальности "Акушер"</i>
</p>
		</div>
	</div>
</div>

<br><br>

<div class="gray-back">
<hr>

<a href="#" name="faculty2" class="non-link text-center"><h1>СЕСТРИНСКОЕ ДЕЛО</h1></a>
<br><br>

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<p style="font-size: 18px;"> Выпускники этой специальности будут являться квалифицированными
				медицинскими сестрами, готовыми к работе в лечебно-профилактических и первичных медико-санитарных учреждениях
			<br><br><br>
			Сестринское дело<br>
			<i>Срок обучения - <strong>3 года</strong>, с присвоением специальности "Медицинская сестра".</i>
			<br><br>
			Сестринское дело по окончании 9-го класса<br>
			<i>Срок обучения - <strong>4 года</strong>, с присвоением специальности "Медицинская сестра".</i>
		</p>		</div>
		<div class="col-lg-6">
			<img class="img-responsive" src="/static/Images/hamshiragi.jpg" alt="">
		</div>
	</div>
</div>

<br><br>

<hr>
</div>

<a href="#" name="faculty3" class="non-link text-center"><h1>ФАРМАЦЕВТИЧЕСКОЕ ДЕЛО</h1></a>
<br><br>

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<img class="img-responsive" src="/static/Images/pharma2.jpg" alt="">
		</div>
		<div class="col-lg-6">
			<p style="font-size: 18px;">Выпускники этой специальности будут являться квалифицированными фармацевтическими
				ассистентами и будут готовы к работе государственных и частных аптеках, лабораториях и в исследовательских
				фармацевтических учреждениях.
			<br><br>
			<i>Срок обучения - <strong>3 года</strong>, с присвоением специальности "Ассистент фармацевта".</i></p>
		</div>
	</div>
</div>

<br><br>

<br>
</div>
{% endblock content %}
