{% extends "basetj.html" %}
{% block content %}
<br>
<a href="#" name="speech" class="non-link text-center"><h1>Муроҷиат</h1></a>
<br><br>
<div class="wrap2">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h3>Хатмкунандагони коллеҷ мувофиқи ихтисосашон  метавонанд, дар муассисаҳои тиббии ҷумҳурӣ ва берун аз он,
			инчунин дар марказҳои: кори ҳамширагӣ, саломатӣ, ҳамчун  омӯзгор дар коллеҷҳои тиббӣ, инчунин дар ташкилотҳои байналхалқӣ, фаъолият намоянд.
			<br><br>
			Машғулиятҳои амалӣ ба донишҷӯён дар заминаи ҳамаи муассисаҳои тиббии дар вилояти Хатлон воқеъбуда, сурат мегиранд.
			Ҳангоми таҷрибаомӯзӣ ба донишҷӯён духтурон ва ҳамшираҳои тиббию соҳибтаҷриба ва баландихтисос малака ва маҳорати касбӣ меомӯзонанд.
		</h3>
		</div>
		<!-- <div class="col-lg-4">
			<h3 class="text-center">Ирсол ҳуҷҷатҳои худро <a href="{% url 'about_university' %}#contacts">ба коллеҷ</a> ё тамос бо декан.</h3>
		</div>
		<div class="col-lg-4">
			<h3 class="text-center">Задани <a href="{% url 'enrollee' %}#price">хазинадор</a> таҳсил коллеҷ. Манфиатҳои имконпазир.</h3>
		</div> -->
	</div>
</div>
</div>
<br><br>
<div class="gray-back">
<hr>
<a href="#" name="listofdocs" class="non-link text-center"><h1>Номгӯи ҳуҷҷатҳои қабулшуда</h1></a>
<br><br>
<div class="container">
 <div class="col-lg-10">
	<ul style="font-size: 18px;">
		<li><p><strong>Ҳуҷҷат оиди маълумот: шаҳодатнома(аттестат)</strong></p></li>
		<li><p><strong>Нусхаи шиноснома</strong></p></li>
		<li><p><strong>Расм 3х4  6 дона</strong></p></li>
		<li><p><strong>Маълумотномаи тиббц нусхаи 086-У</strong></p></li>
		<li><p><strong>Хислатнома</strong></p></li>
		<li><p><strong>Маълумотнома аз ҷои истиқомат</strong></p></li>
		<li><p><strong>Билети ҳарбц (шаҳодатномаи ҳарбии даъватшаванда)</strong></p></li>
		<li><p><strong>Ҳуҷҷатгузор (Дело)</strong></p></li>
		<li><p><strong>Конверт</strong></p></li>
	</ul>
</div>
</div>
<br>
<hr>
</div>
<a href="#" name="faculties" class="non-link text-center"><h1>Шӯъбаҳо</h1></a>
<!-- <h3 class="text-center">Ин маљмўи довталабон ба факултаҳои зерин амалӣ</h3> -->
<br><br>
<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<a href="{% url 'faculties' %}#faculty1"><img class="img-responsive center-block" src="/static/Images/1_250.jpg" alt=""></a>
			<hr style="border-top: 3px solid #008e42; width: 10%; margin-top: 12px; margin-bottom: 12px;">
			<h4 class="text-center">ШӮЪБАИ  “КОРИ МОМОДОЯГӢ”</h4>
						<p class="text-center">Бо додани тахассуси “Момодоя”</p>
            <!-- <p class="text-center">мӯҳлати таҳсили 4 сол</p> -->
		</div>
		<div class="col-lg-3">
			<a href="{% url 'faculties' %}#faculty2"><img class="img-responsive center-block" src="/static/Images/3_250.jpg" alt=""></a>
			<hr style="border-top: 3px solid #008e42; width: 10%; margin-top: 12px; margin-bottom: 12px;">
			<h4 class="text-center">ШУЪБАИ  “КОРИ ҲАМШИРАГӢ”</h4>
						<p class="text-center">Бо додани тахассуси “Ҳамшираи тиббӣ”</p>
            <!-- <p class="text-center">мӯҳлати таҳсили 3 сол</p> -->
		</div>
	<!-- </div>
	<br><br>
	<div class="row"> -->
		<div class="col-lg-3">
			<a href="{% url 'faculties' %}#faculty3"><img class="img-responsive center-block" src="/static/Images/2_250_9.jpg" alt=""></a>
			<hr style="border-top: 3px solid #008e42; width: 10%; margin-top: 12px; margin-bottom: 12px;">
			<h4 class="text-center">ШУЪБАИ “КОРИ ҲАМШИРАГӢ ПАС АЗ ХАТМИ СИНФИ 9”</h4>
						<p class="text-center">Бо додани тахассуси “Ҳамшираи тиббӣ”</p>
						<!-- <p class="text-center">мӯҳлати таҳсили 4 сол</p> -->
		</div>
		<div class="col-lg-3">
			<a href="{% url 'faculties' %}#faculty1"><img class="img-responsive center-block" src="/static/Images/4_250.jpg" alt=""></a>
			<hr style="border-top: 3px solid #008e42; width: 10%; margin-top: 12px; margin-bottom: 12px;">
			<h4 class="text-center">ШӮЪБАИ “КОРИ ФАРМАТСЕВТӢ”</h4>
						<p class="text-center">Бо додани тахассуси “Ёвари фарматсевт”</p>
						<!-- <p class="text-center">мӯҳлати таҳсили 3 сол</p> -->
		</div>
	</div>
</div>
<!-- <div class="gray-back">
<hr>
<a href="#" name="camp" class="non-link text-center"><h1>Хобгоҳ</h1></a>
<br>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			{% lorem 2 p %}
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-3">
			<img class="img-responsive" src="http://placehold.it/400x300" alt="">
		</div>
		<div class="col-lg-3">
			<img class="img-responsive" src="http://placehold.it/400x300" alt="">
		</div>
		<div class="col-lg-3">
			<img class="img-responsive" src="http://placehold.it/400x300" alt="">
		</div>
		<div class="col-lg-3">
			<img class="img-responsive" src="http://placehold.it/400x300" alt="">
		</div>
	</div>
</div>
<br><br> -->
</div>
<br><br>
{% endblock content %}
