{% extends "basetj.html" %}
{% block content %}

<br>
<a href="#" name="faculty1" class="non-link text-center"><h1>ШӮЪБАИ  “КОРИ МОМОДОЯГӢ”</h1></a>
<br><br>

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			 <img class="img-responsive" src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-lg-6">
			<p style="font-size: 18px;">Ба хатмкунандагони ихтисоси мазкур тахассуси “Момодоя” дода мешавад ва онҳо барои расонидани ёрии
			тиббӣ-профилактикӣ ба ҳомиладорон ва беморони гинекологӣ,
			ёрии таъҷилии тиббӣ дар мавриди бемориҳои шадид ва ҳодисаҳои нохуш, инчунин фаъолият дар муассисаҳои
			тиббии шаҳрӣ, ноҳияву деҳотии гинекологӣ (таваллудхонаҳо,
			марказҳои солимии наслофарӣ ва танзими оила), марказҳо ва бунгоҳҳои саломатӣ, тайёр карда мешаванд.
			<br><br>
			<i>Мӯҳлати таҳсили - <strong>4 сол</strong>, бо додани тахассуси “Момодоя”.</i>
</p>
		</div>
	</div>
</div>

<br><br>

<div class="gray-back">
<hr>


<a href="#" name="faculty2" class="non-link text-center"><h1>ШУЪБАИ  “КОРИ ҲАМШИРАГӢ”</h1></a>
<br><br>

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<p style="font-size: 18px;">Ба хатмкунандагони ихтисоси мазкур тахасcуси “Ҳамшираи тиббӣ” дода мешавад ва онҳо барои фаъолият
			дар муассисаҳои муолиҷавӣ-профилактикӣ ва ёрии аввалияи тиббӣ-санитарӣ, тайёр карда мешаванд.
			<br><br><br>
			Кори ҳамширагӣ<br>
			<i>Мӯҳлати таҳсили - <strong>3 сол</strong>, бо додани тахассуси “Ҳамшираи тиббӣ”.</i>
			<br><br>
			Кори ҳамширагӣ пас аз хатми синфи 9<br>
			<i>Мӯҳлати таҳсили - <strong>4 сол</strong>, бо додани тахассуси “Ҳамшираи тиббӣ”.</i>
</p>
		</div>
		<div class="col-lg-6">
			<img class="img-responsive" src="http://placehold.it/500x300" alt="">
		</div>
	</div>
</div>

<br><br>

<hr>
</div>

<a href="#" name="faculty3" class="non-link text-center"><h1>ШӮЪБАИ “КОРИ ФАРМАТСЕВТӢ”</h1></a>
<br><br>

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<img class="img-responsive" src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-lg-6">
			<p style="font-size: 18px;">Ба хатмкунандагони ихтисоси мазкур тахассуси “Ёвари фарматсевт (дорусоз)” дода мешавад ва онҳо барои
			фаъолият дар дорухонаҳои давлативу хусусӣ, озмоишгоҳҳои санҷиши
			таҳлилӣ ва муассисаҳои саноатии дорусозӣ, тайёр карда мешаванд.
			<br><br>
			<i>Мӯҳлати таҳсили - <strong>3 сол</strong>, бо додани тахассуси “Ёвари фарматсевт”.</i>
		</div>
	</div>
</div>

<br><br>

<!--<div class="gray-back">
<hr>

<a href="#" name="faculty4" class="non-link text-center"><h1>ШӮЪБАИ “КОРИ ФАРМАТСЕВТӢ”</h1></a>
<br><br>

 <div class="container">
	<div class="row">
		<div class="col-lg-6">
			<p></p>
		</div>
		<div class="col-lg-6">
			<img class="img-responsive" src="http://placehold.it/500x300" alt="">
		</div>
	</div>
</div>

<br><br> -->

<br>
</div>
{% endblock content %}
