{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Медицинский колледж района Мирсаид Али Хамадони</title>
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style2.css' %}">
	<!-- activate and configure non-responsive.css to make site irresponsible-->
	<!-- <link rel="stylesheet" href="{% static 'css/non-responsive.css' %}"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/modal.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
	<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
</head>
<body>

<div class="container1">
 	<div class="wrap">
 		<div class="row">

 			<div class="col-lg-2 logo-top">
 					<a  href="{% url 'news_list_ru' %}" id="logo"><img src="{% static 'Images/logo6.png' %}"></a>
 			</div>

			<div class="col-lg-6 college-name">
				<h3>МЕДИЦИНСКИЙ КОЛЛЕДЖ <br> РАЙОНА МИРСАИД АЛИ ХАМАДОНИ</h3>
			</div>

			<div class="col-lg-4">
				<div class="language">
					<span class="flag-icon flag-icon-tj"></span>
					<a href="{% url 'news_list' %}">ТОҶИКӢ</a>
					<span style="font-size: 1.3em; color: #008e42;">/</span>
					<span class="flag-icon flag-icon-ru"></span>
					<a href="{% url 'news_list_ru' %}">РУССКИЙ</a>
				</div>
			</div>

 			</div>
 	</div>
 </div>


<!-- navbar -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="http://10.230.10.72:85">ВОЙТИ В ЛИЧНЫЙ КАБИНЕТ</a>
    </div>

   <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'about_university_ru' %}">О КОЛЛЕДЖЕ
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'about_university_ru' %}">История</a></li>
          <li><a href="{% url 'about_university_ru' %}#teachers">Преподаватели</a></li>
          <!-- <li><a href="{% url 'about_university_ru' %}#labs">Лаборатории</a></li> -->
          <li><a href="{% url 'culture_ru' %}#photogallery">Фотогалерея</a></li>
          <li><a href="{% url 'culture_ru' %}#cultural_life">Культурная жизнь</a></li>
        </ul>
      </li>

     <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">АБИТУРИЕНТУ
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'enrollee_ru' %}#speech">Обращение к абитуриентам</a></li>
            <li><a href="{% url 'enrollee_ru' %}#listofdocs">Список документов</a></li>
            <li><a href="{% url 'enrollee_ru' %}#faculties">Список факультетов</a></li>
            <!-- <li><a href="{% url 'enrollee_ru' %}#camp">Общежитие</a></li> -->
        </ul>
      </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ФАКУЛЬТЕТЫ
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'faculties_ru' %}#faculty1">Акушерское дело</a></li>
          <li><a href="{% url 'faculties_ru' %}#faculty2">Сестринское дело</a></li>
          <li><a href="{% url 'faculties_ru' %}#faculty2">Сестринское дело по окончании 9-го класса</a></li>
          <li><a href="{% url 'faculties_ru' %}#faculty3">Фармацевтическое дело</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" href="{% url 'news_and_events_ru' %}">НОВОСТИ И СОБЫТИЯ</a>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" href="{% url 'contacts_ru' %}">КОНТАКТЫ</a>
      </li>
    </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock content %}

<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                    <h3> О нас </h3>
                    <ul>
                        <li> Учреждено в соответствии с лицензией, связанной с осуществлением деятельности от 28.06.2014 № 8
													МЗиСЗ №0000006, №24 и свидетельством о государственной аккредитации серии №6310009035 от 17.04.2014,
													выданными Министерством здравоохранения и социальной защиты населения Республики Таджикистан совместно с
													Министерством образования и науки Республики Таджикистан. </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class="fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                    <!-- <br><br><p style="color: #ddeee4;">© 2016 Медицинский колледж Хамадони</p> -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-6">
                    <h3> Навигация </h3>
                    <ul>
                        <li> <a href="{% url 'news_list_ru' %}"> Домой </a> </li>
                        <li> <a href="{% url 'about_university_ru' %}"> О колледже </a> </li>
                        <li> <a href="{% url 'enrollee_ru' %}"> Абитуриенту </a> </li>
												<li> <a href="{% url 'news_and_events_ru' %}"> Новости </a> </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-6 ">
                    <h3> Контакты </h3>
                    <ul>
                        <li> <p><strong>Адрес:</strong> район Мир Сайид Алии Ҳамадонӣ г. Москва, ул. И. Сомони 27 </p></li>
                        <li> <p><strong>Телефон:</strong> +992 90 718 1930,  +992 918 73 7412,  833 15 22422 </p></li>
                        <p><strong>Email:</strong> <a href="mailto:info@kth.tj">info.hamadoni@gmail.com</a></p>
                    </ul>
                </div>
            </div>
            <!--/.row-->
            <div class="row">
            	<div class="col-lg-12">
            	<br>
            		<p class="text-center" style="color: #ddeee4;">© 2017 Негосударственное образовательное учреждение “Медицинский колледж района Мир Сайид Алии Ҳамадони”</p>
            	</div>
            </div>
        </div>
        <!--/.container-->
    </div>

</body>
</html>
