{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Med college</title>
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style2.css' %}">
	<!-- activate and configure non-responsive.css to make site irresponsible-->
	<!-- <link rel="stylesheet" href="{% static 'css/non-responsive.css' %}"> -->
	<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	
	
</head>
<body>

<div class="container1">
 	<div class="wrap">
 		<div class="row">

 			<div class="col-lg-2 logo-top">
 					<a  href="{% url 'news_list' %}" id="logo"><img src="{% static 'Images/logo6.png' %}"></a>
 			</div>

			<div class="col-lg-6 college-name">
				<h3>МЕДИЦИНСКИЙ КОЛЛЕДЖ <br> РАЙОНА МИРСАИД АЛИ ХАМАДОНИ</h3>
			</div>

			<div class="col-lg-4">
				<div class="language">
					<span class="flag-icon flag-icon-tj"></span>
					<a href="#">ТОҶИКӢ</a>
					<span style="font-size: 1.3em; color: #008e42;">/</span>
					<span class="flag-icon flag-icon-ru"></span>
					<a href="#">РУССКИЙ</a>
				</div>

				<div id="search-field">
				<form action="."> 
	                <div class="input-group stylish-input-group">
	                    <input type="text" name="query" class="form-control" placeholder="Найти" value="{{query|default:''}}">
	                    <span class="input-group-addon">
	                        <button type="submit">
	                            <span class="glyphicon glyphicon-search"></span>
	                        </button>  
	                    </span>
	                </div>
            	</form>
            	</div>
			</div>

 			</div>
 	</div>
 </div>


<!-- navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#">ВОЙТИ В ЛИЧНЫЙ КАБИНЕТ</a>
    </div>

   <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
     
     <!-- об универе -->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ОБ УНИВЕРСИТЕТЕ
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">История</a></li>
          <li><a href="#">Фотогалерея</a></li>
          <li><a href="#">Культурная жизнь</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </li>
	<!-- абитуриенту -->
     <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">АБИТУРИЕНТУ
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
        	<li><a href="#">Наши преимущества</a></li>
          	<li><a href="#">Список документов</a></li>
          	<li><a href="#">Цены</a></li>
        </ul>
      </li>
	<!-- студенту -->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">СТУДЕНТУ
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Расписание</a></li>
          <li><a href="#">Библиотека</a></li>
          <li><a href="#">Акции</a></li>
        </ul>
      </li>
	<!-- факультеты -->
		<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ФАКУЛЬТЕТЫ
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Факультет 1</a></li>
          <li><a href="#">Факультет 2</a></li>
          <li><a href="#">Факультет 3</a></li>
          <li><a href="#">Факультет 4</a></li>
        </ul>
      </li>
    <!-- выпускнику -->
    	<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">НОВОСТИ И СОБЫТИЯ</a>
        <!-- <span class="caret"></span>
        <ul class="dropdown-menu">
          <li><a href="#">Page 5-1</a></li>
          <li><a href="#">Page 5-2</a></li>
          <li><a href="#">Page 5-3</a></li>
        </ul> -->
      </li>
    </ul>
    </div>
  </div>
</nav>

<!-- HERO CAROUSEL -->


<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <!-- <div class="hero">
        <hgroup>
            <h1>We are creative</h1>        
            <h3>Get start your next awesome project</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">See all features</button>
      </div> -->
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
    </div>
  </div> 
</div>



<div class="wrap">

 <!-- grid -->
	<div class="container2">
		<div class="row">
			<div class="col-lg-8">
				{% block content %}
				{% endblock content %}
			</div>
			<div class="col-lg-4">
				
				    <blockquote class="quote-box">
				    <h3>Цитаты</h3>
				      <p class="quotation-mark">
				        “
				      </p>
				      <p class="quote-text">
				        <i>Слепой не видит солнца, даже глядя на небо. Так и для невежды смысл истины скрыт за семью замками.</i>
				      </p>
				      <hr class="qt">
				        <p style="margin-left: 10px;">
				          Абу Али ибн Сино
				        </p>
				    </blockquote>

				<div class="dwnl-doc">
					<div class="dwnl-text text-center">
						<h3>Скачайте буклет о нашем колледже</h3>
						<br>
						<p>
					         В нем вы найдете всю необходимую информацию
					    </p>
					    <br>
					    <a type="button" class="btn btn-default btn-lg" href="#">
							<span class="glyphicon glyphicon-download-alt"></span> Скачать буклет 
					    </a>

				    </div>
				</div>

			</div>
		</div>
	</div>	
</div>

<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                    <h3> О нас </h3>
                    <ul>
                        <li> <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p> </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class="fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-6">
                    <h3> Навигация </h3>
                    <ul>
                        <li> <a href="#"> Домой </a> </li>
                        <li> <a href="#"> О колледже </a> </li>
                        <li> <a href="#"> Абитуриенту </a> </li>
                        <li> <a href="#"> Студенту </a> </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-6 ">
                    <h3> Контакты </h3>
                    <ul>
                        <li> <p><strong>Адрес:</strong> ул. Ленина 5 </p></li>
                        <li> <p><strong>Телефон:</strong> 900 000 454 </p></li>
                        <p><strong>Email:</strong> <a href="mailto:info@kth.tj">info@kth.tj</a></p>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>

</body>
</html>